{%extends 'partials/dashboard_base.html'%}
{%block profileform%}
<form method="POST" enctype="multipart/form-data" class="px-2 shadow-sm">
  {% csrf_token %}
  {{form.errors}}
  <div class="col-md-12 d-flex" id="profile-edit">
    <div class="px-3">
      <label class="">Full Name</label>
      {{form.full_name}}
    </div>
    <div class="px-3">
      <label class="">Address</label>
      {{form.house_address}} 
    </div>
    <div>
      <label class="">Mobile Number</label>
      {{form.mobile}} 
    </div>       
  </div>
  <div class="col-md-12 d-flex" id="profile-edit">
    <div class="px-3">
      <label class="">City</label>
      {{form.city}}
    </div>
    <div class="px-3">
      <label class="">State</label>
      {{form.state}} 
    </div>
    <div>
      <label class="">Country</label>
      {{form.country}} 
    </div>       
  </div>
  <div class="col-md-12 d-flex" id="profile-edit">
    <div class="px-3">
      <label class="">Marital Status</label>
      {{form.marital_status}}
    </div>
    <div class="px-3">
      <label class="">Identity Type</label>
      {{form.identity_type}} 
    </div>
    <div>
      <label class="">Gender</label>
      {{form.gender}} 
    </div>       
  </div>
  <div class="col-md-12 d-flex" id="profile-edit">
    <div class="px-3">
      <label class="">Date of Birth</label>
      {{form.date_of_birth}}
    </div>
    <div class="px-3">
      <label class="">Nationality</label>
      {{form.nationality}} 
    </div>      
  </div>
  <div class="d-flex">
    <div class="col-md-3 px-3" id="profile-edit">
      <label class="">Upload Identity Image</label>
      {{form.identity_image}}
      {%if kyc.identity_image %}
        <img style="width:200px;height: 100px; padding-top: 10px;" src="{{kyc.identity_image.url}}">
      {%endif%}    
    </div>
    <div class="col-md-3 px-5" id="profile-edit">
      <label class="">Upload Signature</label>
      {{form.signature}}
      {%if kyc.signature %}
        <img style="width:200px;height: 100px; padding-top: 10px;" src="{{kyc.signature.url}}">
      {%endif%}      
   
    </div>
  </div>
  
  <button type="submit">Submit</button>
  
</form>
{%endblock%}

